@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&subset=latin-ext');
p { margin: 0px; padding: 0px; } /* Hide additional <p> */
body { margin: 0px; font-size: 12pt; font-family: "Roboto", sans-serif; color: #162f57 }
h1 { margin: 1em 0px; font-family: "Oswald", serif; }

header {
    text-align: center;
    padding: 3em; margin: 3em;
    padding-bottom: 3em;
    font-size: 14pt;
}

header h1 { font-size: 48pt; }
header > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}

header a { color: #162f57; text-decoration: none }
header a:hover { text-decoration: underline }


nav {
    font-size: 16pt;
    font-family: "Oswald", sans;
    text-align: center;
    border-top: 3px solid #DDD;
    border-bottom: 3px solid #DDD;
}
nav ul { margin: 0px auto }
nav ul li { display: inline-block; margin: 1em 2em; text-transform: uppercase }
nav, nav a { color: #162f57; text-decoration: none }
nav a:hover { text-decoration: underline }

main {
    max-width: 30em;
    margin: 0px auto;
    padding: 2em 3em;
}
main p { margin: 1em 0; }

@media only screen and (max-width: 1200px) {
    header { padding: 2em; margin: 2em; }
}

@media only screen and (max-width: 800px) {
    header { padding: 0em; margin: 1em; border: 0px }
    h1 { margin: 0.3em 0px; }
    nav ul li { margin: 0.2em 0.5em; }
    main { padding: 0.5em 1em; }
}
